[user]
	name = Marcelo Henrique Fonseca
	email = 6546651+marcelohfonseca@users.noreply.github.com
	signingkey = 14E8CD185AFC365B
[init]
	defaultBranch = main
[pull]
	ff = only
	default = simple
	followTags = true
[commit]
    gpgsign = true
[merge]
    verifySignatures = true
[tag]
    gpgsign = true
[log]
    showSignature = true
[core]
    sshCommand = ssh -i ~/.ssh/id_ed25519
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[lfs]
    sshCommand = ssh -i ~/.ssh/id_ed25519
[credential]
    helper = cache
