[user]
	name = Marcelo Henrique Fonseca
	email = dev@marcelofonseca.me
	signingkey = 30FA8A29180E590E803F5C53B17BD6B494D4735F
[init]
	defaultBranch = main
[pull]
	ff = only
	default = simple
	followTags = true
[commit]
    gpgsign = true
[merge]
    verifySignatures = false
[tag]
    gpgsign = true
[log]
    showSignature = true
[lfs]
    sshCommand = ssh -i ~/.ssh/id_ed25519
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
        helper = !gh auth git-credential
