[user]
	name = Marcelo Henrique Fonseca
	email = 6546651+marcelohfonseca@users.noreply.github.com
	signingkey = B17BD6B494D4735F
[init]
	defaultBranch = main
[pull]
	ff = only
	default = simple
	followTags = true
[commit]
    gpgsign = true
[merge]
    verifySignatures = true
[tag]
    gpgsign = true
[log]
    showSignature = true
[lfs]
    sshCommand = ssh -i ~/.ssh/id_ed25519
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
        helper = !gh auth git-credential
