[user]
	name = Marcelo Henrique Fonseca
	email = dev@marcelofonseca.me
	signingkey = ~/.ssh/id_ed25519_sk.pub
[init]
	defaultBranch = main
[pull]
	ff = only
	default = simple
	followTags = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[log]
	showSignature = true
[merge]
	verifySignatures = false
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
